.slider-container {
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
}

.media-slide {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background: #eee;
  color: #666;
  font-size: 18px;
}

.hidden {
  display: none;
}
